html{
  overflow-x: hidden;
}

.page-login:before {
  font-size: 16px;
  color: White;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background: url("/images/login.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: blur(2px);
}


.logo-login {
  background-color: #404040;
  margin-top: 35%;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 3px rgba(48, 50, 50, 1);
  -moz-box-shadow:    0px 0px 30px 3px rgba(48, 50, 50, 1);
  box-shadow:         0px 0px 30px 3px rgba(48, 50, 50, 1);
}

.box-login {
  background-color: #fefeff;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}